<template>
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <i class="fas" v-bind:class="statusIconClass"></i>
        </div>
        <div class="level-item">
          {{trackTimer}}
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          {{global.currentTrack.metadata["Artist"]}} - {{global.currentTrack.metadata["Title"]}}
        </div>
      </div>
    </div>
    <input type="range" min="0" v-bind:max="global.playerInfo.time_total" v-model="global.playerInfo.time_elapsed" class="slider trackPosition">
    <div class="level">
      <div class="level-item">
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-info" disabled>
              <span class="icon">
                <i class="fas fa-step-backward"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-info" @click="resume">
              <span class="icon">
                <i class="fas fa-play"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-info" @click="pause">
              <span class="icon">
                <i class="fas fa-pause"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-info" @click="skipForward">
              <span class="icon">
                <i class="fas fa-step-forward"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-info" @click="clear">
              <span class="icon">
                <i class="fas fa-eject"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>
    <QueueItem v-for="item in global.playerInfo.queue" :key="item.uuid" v-bind:track="item" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import QueueItem from "@/components/QueueItem.vue";
import { store } from "@/appdata";
import { formatSecToMinutes } from "@/utility";
import * as network from "@/network";
import { Status } from "@/protocol";

@Component({
  components: {
    QueueItem
  },
  data: () => {
    return { global: store.state };
  }
})
export default class Queue extends Vue {
  public get trackTimer(): string {
    return formatSecToMinutes(this.$data.global.playerInfo.time_elapsed);
  }

  public get statusIconClass(): string {
    switch (this.$data.global.playerInfo.status) {
      case Status.Play:
        return "fa-play";
      case Status.Stop:
        return "fa-stop";
      case Status.Pause:
        return "fa-pause";
      default:
        return "fa-question";
    }
  }

  public clear() {
    network.clearQueue();
  }

  public pause() {
    network.pausePlay();
  }

  public resume() {
    network.resumePlay();
  }

  public skipForward() {
    network.skipForward();
  }
}
</script>

<style scoped>
.trackPosition {
  width: 100%;
}
</style>
