<template>
  <div>
    <h4 class="title is-4">Search - Soundcloud
      <i style="color: #ff7700" class="fab fa-soundcloud"></i>
    </h4>
    <div class="box">
      <div class="field has-addons">
        <p class="control is-medium is-expanded" v-bind:class="{'is-loading': global.searchRunning}">
          <input v-model="local.query" class="input is-medium is-info" type="text" placeholder="URL...">
        </p>
        <p class="control">
          <button @click="startSearch" class="button is-medium is-info">
            Search
          </button>
        </p>
      </div>
    </div>
    <div class="columns is-multiline">
      <SearchResult v-for="item in global.searchResult" :key="item.Uri" v-bind:metadata="item" v-bind:service="local.service" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SearchResult from "@/components/SearchResult.vue";
import * as network from "@/network";
import { store } from "@/appdata";
import { Service, SearchQuery } from "@/protocol";

@Component({
  components: { SearchResult },
  data: () => {
    return { global: store.state, local: { query: "", service: Service.SoundCloud } };
  }
})
export default class SearchSoundcloud extends Vue {
  public startSearch() {
    network.search(new SearchQuery(this.$data.local.query, this.$data.local.service));
  }
}
</script>

<style>
</style>
