<template>
    <div>
        <h4 class="title is-4">Search</h4>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="selection tile is-child box" @click="gotoSpotify">
                    <p class="subtitle">Spotify
                        <span class="icon">
                            <i style="color: #1ED760" class="fab fa-spotify fa-2x"></i>
                        </span>
                    </p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="selection tile is-child box" @click="gotoSoundcloud">
                    <p class="subtitle">Soundcloud
                        <span class="icon">
                            <i style="color: #ff7700" class="fab fa-soundcloud fa-2x"></i>
                        </span>
                    </p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="disabled tile is-child box">
                    <p class="subtitle">Youtube
                        <span class="icon">
                            <i style="color: #ff0000" class="fab fa-youtube fa-2x"></i>
                        </span>
                    </p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="selection tile is-child box" @click="gotoLocal">
                    <p class="subtitle">Local
                        <span class="icon">
                            <i style="color: #424242" class="fas fa-hdd fa-2x"></i>
                        </span>
                    </p>
                </article>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class SearchMenu extends Vue {
    public gotoSoundcloud(): void {
        this.$router.push("search/soundcloud");
    }

    public gotoSpotify(): void {
        this.$router.push("search/spotify");
    }

    public gotoLocal(): void {
        this.$router.push("search/local");
    }
}
</script>

<style scoped>
.icon {
  float: right;
}

.selection {
  cursor: pointer;
}

.selection:hover {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.4), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
</style>
