<template>
    <div class="notification track" v-bind:class="{'is-primary': global.playerInfo.current_track_id === uuid}" @click="play">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="image is-96x96">
                        <img v-bind:src="cover">
                    </div>
                </div>
                    <div class="level-item">
                        <h2 class="subtitle has-text-weight-light has-text-centered">{{album}}</h2>
                    </div>
                    <div class="level-item">
                        <h2 class="subtitle has-text-weight-light has-text-centered">{{artist}}</h2>
                    </div>
                    <div class="level-item">
                        <h2 class="subtitle has-text-weight-light has-text-centered">{{title}}</h2>
                    </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <h2 class="title">{{duration}}</h2>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { formatSecToMinutes } from "@/utility";
import * as network from "@/network";
import { Service } from "@/protocol";
import { store } from "@/appdata";

@Component({ props: ["track"],
  data: () => {
    return { global: store.state };
  } })
export default class QueueItem extends Vue {
  get cover() {
    return this.$props.track.metadata["Cover"]
      ? this.$props.track.metadata["Cover"]
      : "assets/no-cover.png";
  }

  get artist() {
    return this.$props.track.metadata["Artist"]
      ? this.$props.track.metadata["Artist"]
      : "";
  }

  get duration() {
    return this.$props.track.metadata["Duration"]
      ? formatSecToMinutes(parseInt(this.$props.track.metadata["Duration"], 10))
      : "";
  }

  get title() {
    return this.$props.track.metadata["Title"]
      ? this.$props.track.metadata["Title"]
      : "";
  }

  get album() {
    return this.$props.track.metadata["Album"]
      ? this.$props.track.metadata["Album"]
      : "";
  }

  get uuid(): string {
    return this.$props.track.uuid
      ? this.$props.track.uuid.toString()
      : "";
  }

  public play() {
      network.playTrack(this.$props.track.uuid);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.track {
    cursor: pointer;
}

.track:hover
{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
</style>
