<template>
  <div class="column is-4">
    <div class="box">
      <h4 class="title is-4">{{title}}</h4>
      <h5 class="subtitle is-5">{{artist}} - {{album}}</h5>
      <figure class="image is-square">
        <img v-bind:src="cover" alt="Placeholder image">
      </figure>
      <nav class="level  is-mobile">
        <div class="level-left">
          <div class="level-item"></div>
          <div class="level-item">
            <p class="subtitle is-5 ">
              {{duration}}
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <span @click="addToQueue" class="icon is-medium add-button">
              <i class="fas fa-plus fa-2x"></i>
            </span>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { formatSecToMinutes } from "@/utility";
import * as network from "@/network";
import { Service } from "@/protocol";

@Component({
  props: ["metadata", "service"]
})
export default class SearchResult extends Vue {
  get cover() {
    return this.$props.metadata["Cover"]
      ? this.$props.metadata["Cover"]
      : "assets/no-cover.png";
  }

  get artist() {
    return this.$props.metadata["Artist"]
      ? this.$props.metadata["Artist"]
      : "?";
  }

  get duration() {
    return this.$props.metadata["Duration"]
      ? formatSecToMinutes(parseInt(this.$props.metadata["Duration"], 10))
      : "?";
  }

  get title() {
    return this.$props.metadata["Title"] ? this.$props.metadata["Title"] : "?";
  }

  get album() {
    return this.$props.metadata["Album"] ? this.$props.metadata["Album"] : "?";
  }

  get uri() {
    return this.$props.metadata["Uri"] ? this.$props.metadata["Uri"] : "?";
  }

  public addToQueue() {
    network.addTrackToQueue(this.$props.service as Service, this.uri);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
nav {
  padding-top: 8px;
  padding-bottom: 8px;
}

.add-button {
  cursor: pointer;
}

.add-button:hover {
  color: #23d160 !important;
}
</style>
