<template>
  <div id="app">
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <div class="navbar-item">
          <span class="title has-text-white">Tanzbox</span>
        </div>
        <div role="button" class="navbar-burger" data-target="navigation" aria-label="menu" aria-expanded="false" @click="onBurgerClick">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>

      <div class="navbar-menu" id="navigation">
        <div class="navbar-start">
            <router-link class="navbar-item" active-class="is-active" to="/queue">Queue</router-link>
            <router-link class="navbar-item" active-class="is-active" to="/search">Search</router-link>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <span v-if="connected === true" class="icon is-medium">
              <i class="fas fa-plug fa-2x"></i>
            </span>
            <span v-else class="icon is-medium">
              <i class="fas fa-ban fa-2x"></i>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <router-view/>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { store } from "./appdata";

@Component({ data: () => store.state })
export default class App extends Vue {
  public onBurgerClick(): void {
    const burger: HTMLElement = this.$el.querySelector(
      ".navbar-burger"
    ) as HTMLElement;
    const target: HTMLElement = document.getElementById(burger.dataset
      .target as string) as HTMLElement;
    burger.classList.toggle("is-active");
    target.classList.toggle("is-active");
  }
}
</script>

<style>
@import url("./assets/css/fontawesome-all.css");
@import url("./assets/css/materia.min.css");
@import url("./assets/css/style.css");
</style>
